form{
    margin: 30px;

}

form label {
    display: inline;
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
}

.submit-button{
    background: #20c997;
    color: white;
    border: none;
    border-radius: 15px;
}

.submit-button:hover{
    background: #00a293;
    font-weight: bolder;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.divForm{
    background-color: blue;
}