<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/crud.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
{% include '../menu.html' %}

<main>
<div class="container">

    <div class="divForm">
        <div>
            {% if generos_records %}
            <table>
                <thead>
                    <tr>
                        <th>Gênero</th>
                        <th>Click para alterar</th>
                        <th>Clique para excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genero in generos_records %}
                    <tr>
                    <td>{{ genero.descricao }}</td>
                    <td><button class="list-button editar-button">Alterar</button></td>
                    <td><button class="list-button apagar-button" onClick="deleteItem({{ genero.id }})">Excluir</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Nenhum dado cadastrado</p>
            {% endif %}
        </div>
        <form onsubmit="/genero" id="form-genero" method="post">
            {{form}}
            {% csrf_token %}
            <input type="submit" id="submit-button" value="Enviar" />
        </form>
    </div>
</div>

</main>

<script>
    function deleteItem(id){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
            
            "/genero/delete/"+id,
            {
                headers:{'X-CSRFToken':csrftoken}
            }
        );
        fetch(request,{
            method:'DELETE',
            mode:'same-origin'
        }).then(
            function(response){
                if(response.status===500){
                    alert("Não foi possível excluir");
                }
                else{
                    location.replace("/genero");
                }
            }
        )
    }
</script>

</body>

</html>