<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>IGTIFlix</title>
    <link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/crud.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
{% include '../menu.html' %}

<main>
<div class="container">

    <div class="divForm">
        <div>
            {% if serie_records %}
            <table>
                <thead>
                    <tr>
                        <th>Serie</th>
                        <th>Gênero</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for serie in serie_records %}
                    <tr>
                    <td>{{ serie.nome }}</td>
                    <td>{{ serie.idGenero }}</td>
                    <td>
                    <button class="list-button editar-button" onClick="updateItem({{ genero.id }})" >Alterar</button>
                    <button class="list-button apagar-button" onClick="deleteItem({{ genero.id }})">Excluir</button>
                     </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Nenhum dado cadastrado</p>
            {% endif %}
        </div>
        <div class="divForm">
        <form onsubmit="/serie" id="form-serie" method="post">
            {{form}}
            {% csrf_token %}
            <input type="submit" id="submit-button" value="Enviar" />
        </form>
        </div>
        <div class="conteiner-center">
            {{ mesg }}
        </div>
    </div>
</div>

</main>

<script>
    function deleteItem(id){
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request(
            
            "/serie/delete/"+id,
            {
                headers:{'X-CSRFToken':csrftoken}
            }
        );
        fetch(request,{
            method:'DELETE',
            mode:'same-origin'
        }).then(
            function(response){
                if(response.status===500){
                    alert("Não foi possível excluir");
                }
                else{
                    location.replace("/serie");
                }
            }
        )
    }

    function updateItem(id){
        location.replace('/serie/update/'+id);
    }

</script>

</body>

</html>